@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: transparent;
  color: #222;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
